/* Bordered form */
body {
  background: url(https://images.unsplash.com/photo-1457305237443-44c3d5a30b89?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1053&q=80);
}
form {
  border: 2px solid white;
  margin: 100px 400px;
  background: gray;
  width: 50%;
  padding: 10px 10px;
}
form input[type="submit"] {
  padding: 0 80px 0;
  height: 40px;
  margin: 0 35%;
  font-size: large;
  background: coral;
}

.header {
  background-color: #26d0c9;
  color: #fff;
  height: 90px;
  margin: -15px -10px 0;
  top: 0;
  position: sticky;
}

.header-logo {
  float: left;
  font-size: 36px;
  padding: 20px 40px;
}

/* Full-width inputs */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  border-radius: 10px;
  box-sizing: border-box;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  font-size: medium;
  margin: -10px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
}
